<%- include header%>
    <ul>
        <li>
            <h3><a target="_blank" href="http://www.chiphell.com">chiphell</a></h3>
        </li>
        <li>
            <h3><a target="_blank" href="http://www.zhihu.com">知乎</a></li>
        </h3>
        <li>
            <h3><a target="_blank" href="http://www.autohome.com">车托之家</a></h3>
        </li>
        <li>
            <h3><a target="_blank" href="http://www.qq.com">腾讯</a></h3>
        </li>
    </ul>
    <%- include footer%>